1.What are data structures, and why are they important.

Data structures are ways to organize, store and manage data effeiently for easy access and modification.
Importance:
a. optimize performance
b. enable efficient algorithms
c. solve complex problems effectivelly
d. aid in memory managemnet

2.Explain the difference between mutable and immutable datatypes with examples.

Mutable: The elements can be changed after the creation.
     eg: list,set.

Immutable: The elements cannot be changed after the creation.
       eg: tuple, string

3.What are the main difference between list and tuples in puthon?

The differences between list and tuples are.
 1. List: a) List are mutable.
          b) Slower due to flexibility.
          c) Defined with squared brackets.[1,2,3]

 2. Tuple: a) Tuples are immutable.
           b) Faster and memory effiecient.
           c) Defined with paranthesis.(1,2,3)

4. Descibe how dictionaries store data.

Dictionaries are stored in the form of key-value pair.Each key is unique which means, key is immutable. and the value can be mutable.
eg: my_dict= {"name":"alice", "age":25}

5. Why might you use a set instead of a list in python?

We use set instead of list in python because,
a) Uniqness.
b) Fast operation.
c) order doesnt matter.

6. What is a string in python and how it is different from list?

String is a sequence of characters closed with " " (quotes).
Difference between string and list is,
a) String is immutable and list is mutable.
b) String is homogenious which means it only contains characters. and list is heterogeneous which means it contains all data types.
c) syntax: String use quotes(" ") and list use

7. How do tuples ensure data integrity in python?

Tuples ensure data integrity in Python because they are immutable, meaning their elements cannot be modified after creation. This protects data from accidental changes, making tuples ideal for storing constants or fixed collections of data.
coordinates = (10, 20)  # Immutable, ensures the values remain unchanged.
coordinates[0] = 30  # Raises TypeError

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that stores key-value pairs using a hash function to map keys to unique indices in a table.

In Python, dictionaries are implemented using hash tables. Keys are hashed to generate an index, enabling fast lookups, insertions, and deletions.

9. Can lists contain different data types in python?

Yes. List can contain different data types in python . which we call it as heterogeneous.

10. Explain why strings are immutable in Python?

Enhance Performance: Immutable objects allow for optimizations like string interning, improving memory and speed.
Ensure Safety: Prevent unintended modifications, especially when shared across multiple parts of a program.
Hashability: Immutability allows strings to be hashable, enabling their use as keys in dictionaries and elements in sets.

11. What advantages do dictionaries offer over lists for certain tasks?


Dictionaries offer several advantages over lists for specific tasks:

Fast Lookups: O(1) average time complexity for accessing values by key, compared to O(n) for searching in a list.
Key-Value Mapping: Store data with descriptive keys, improving readability and organization.
Uniqueness: Keys are unique, avoiding duplicate identifiers.
Dynamic Updates: Efficiently update or add new key-value pairs.

12. Describe a scenario where using a tuple would be preferable over a list?

A tuple is preferable over a list when you need to store fixed, unchangeable data to ensure data integrity and optimize performance.
Scenario: Storing coordinates of a point in a 2D or 3D space.
point = (10, 20, 30)  # Tuple ensures coordinates won't change accidentally. 

In this case:
Immutability: Prevents unintended modifications.
Performance: Tuples are faster and more memory-efficient than lists.

13. How do sets handle duplicate values in Python?

Sets in Python automatically remove duplicate values when elements are added. This ensures that all elements in a set are unique.

Example:
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

When duplicates are encountered, they are ignored, and only one instance of each value is stored.

14. How does the “in” keyword work differently for lists and dictionaries?

The in keyword works differently for lists and dictionaries:

For Lists: Checks if a value exists in the list.
lst = [1, 2, 3]
print(2 in lst)  # True

For Dictionaries: Checks if a key exists (not values).
my_dict = {'a': 1, 'b': 2}
print('a' in my_dict)  # True
print(1 in my_dict)    # False

15. Can you modify the elements of a tuple? Explain why or why not?

Nop you cannot modify the elements of a tuple. Because tuple is immutable.

16. What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary where values can be other dictionaries. It’s useful for representing hierarchical or structured data.

Example Use Case: Storing information about employees in departments.
company = {
    'HR': {'Alice': 30, 'Bob': 25},
    'IT': {'Charlie': 28, 'David': 35}
          }

# Access Bob's age
print(company['HR']['Bob'])  # Output: 25

17. Describe the time complexity of accessing elements in a dictionary?

The time complexity of accessing elements in a dictionary is:

Average Case: O(1) (constant time) due to the underlying hash table.
Worst Case: O(n) if there are hash collisions, but this is rare with a good hash function.

18. In what situations are lists preferred over dictionaries?

Lists are preferred over dictionaries in the following situations:

Sequential Data: When maintaining an ordered sequence of elements is important.
Example: A list of numbers: [10, 20, 30].

Duplicate Values: When duplicates are allowed, unlike dictionaries where keys must be unique.

Simpler Data: When data doesn’t require key-value relationships.
Example: Names of students: ['Alice', 'Bob', 'Charlie'].

Index-based Access: When you need to access elements by their position rather than a descriptive key.
Example: my_list[0] for the first element.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are considered unordered because the elements (key-value pairs) are stored in a way that doesn't guarantee any specific order, especially before Python 3.7. From Python 3.7 onwards, dictionaries maintain insertion order but still do not classify as "ordered" in the traditional sense, as they don't rely on index-based positions like lists.

Effect on Data Retrieval:

Fast Lookups: Regardless of order, dictionary lookups by key are O(1) on average, providing efficient access to values.
No Index Access: Unlike lists, dictionaries don’t allow access via indices (e.g., my_dict[0] doesn’t work), but instead use keys.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

The key difference between a list and a dictionary in terms of data retrieval is how you access the data:

List:

Accessed by index: You retrieve values using a position or index (e.g., my_list[2]).
Order matters: The order of elements is preserved and indexed.

Dictionary:

Accessed by key: You retrieve values using a unique key (e.g., my_dict['key']).
No order: The data is unordered (though insertion order is maintained since Python 3.7).

                                Pratical Questions

1. Write a code to create a string with your name and print it.

In [5]:
name = "kishan"
print(name)

kishan

2. Write a code to find the length of the string "Hello World".

In [7]:
str= "Hello World"
print(len(str))

11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [9]:
str = "Python Programming"
print(str[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [13]:
str = "hello"
str.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [14]:
str = "I like apple"
str.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [15]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [16]:
numbers=[1,2,3,4]
numbers.append(10)
numbers

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [17]:
numbers = [1,2,3,4,5]
numbers.remove(3)
numbers

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [18]:
List=['a','b','c','d']
List[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [20]:
List=[10,20,30,40,50]
List.reverse()
List

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [22]:
Tuple=(10,20,30)
print(Tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [25]:
Tuple=('apple','banana','cherry')
Tuple[0]

'apple'

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [26]:
Tuple=(1,2,3,2,4,2)
Tuple.count(2)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [27]:
Tuple=("dog","cat","rabbit")
Tuple.index("cat")

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [29]:
Tuple=("apple","orange","banana")
if "banana" in Tuple :
    print("Yes it is")

Yes it is

16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [31]:
Set={1,2,3,4,5}
print(Set)

{1, 2, 3, 4, 5}

17.  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [32]:
numbers={1,2,3,4}
numbers.add(6)
numbers

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [33]:
numbers=(10,20,30)
print(numbers)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [34]:
fruits = ("apple","banan","cherry")
fruits[0]

'apple'

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [35]:
Tuple=(1,2,3,2,4,2)
Tuple.count(2)

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [36]:
Tuple=("dog","cat","rabbit")
Tuple.index("cat")

1

 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [37]:
Tuple=("apple","orange","banana")
if "banana" in Tuple :
    print("Yes it is")

Yes it is

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [38]:
Set={1,2,3,4,5}
print(Set)

{1, 2, 3, 4, 5}

24.  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [39]:
numbers={1,2,3,4}
numbers.add(6)
numbers

{1, 2, 3, 4, 6}